
.skills--images{
    position: absolute;
    top:900px;
    
}
.animate{
    animation-duration: 0.75s;
    animation-duration: 1s;/*running slower to show effect */
    animation-delay: 0.5s;
    animation-name:animation-fade;
    animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
    animation-fill-mode:backwards;

}
.animate.pop {
  animation-name: animate-pop;
}
@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
.delay-1 {
animation-delay: 0.6s;
}
.delay-2 {
animation-delay: 0.7s;
}
.delay-3{
animation-delay: 0.8s;
}
.delay-4 {
animation-delay: 0.9s;
}
.css, .javascript, .react{
    position: absolute;
    top:20px;
}
@media screen and (prefers-reduced-motion: reduce) {
  .animate {
    animation: none !important;
  }
}
@media screen and (min-width:420px){
    .skills--images{
        left:170px;
    }
    .css{
        top:100px;
    }
    .javascript{
        top:200px;
    }
    .react{
        top:300px;
    }

    
}
@media screen and (max-width:420px){
    .skills--images{
        left:170px;
    }
    .css{
        top:100px;
    }
    .javascript{
        top:200px;
    }
    .react{
        top:300px;
    }

    
}
@media screen and (min-width:640px){
    .skills--images{
        left:280px;
        
    }
     .css{
        top:150px;

     } 
     .javascript{
        top:300px;

     } 
     .react{
        top:450px;
    }
    
}
@media screen and (min-width:768px){
    .skills--images{
        left:270px;
        top:700px;
    }
     .css{
       top:120px;
     } 
     .javascript{
        top:240px;

     } 
     .react{
        top:360px;
        
    }
    
}
@media screen and (min-width:820px){
    .skills--images{
        left:100px;
        top:900px;
        
    }
    .css{
        position: absolute;
        left:180px;
        top:0px;
    }
    .javascript{
        position: absolute;
        left:350px;
        top:0px;
    }
    .react{
        position: absolute;
        left:520px;
        top:0px;
    }
}
@media screen and (min-width:1024px){
    .skills--images{
        top:800px;
        left:0px;   
    }   
}
@media screen and (min-width:1280px){
}
@media screen and (min-width:1536px){
    .skills--images{
        left:100px;
    }
}
@media screen and (min-width:1700px){
    .skills--images{
        left:150px;
    }
}