
.skills--images{
    /* position:absolute; */
    margin-left: 150px;
    margin-top: 350px;
    
}
.animate{
    animation-duration: 0.75s;
    animation-duration: 1s;/*running slower to show effect */
    animation-delay: 0.5s;
    animation-name:animation-fade;
    animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
    animation-fill-mode:backwards;

}
.animate.pop {
  animation-name: animate-pop;
}
@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
.delay-1 {
animation-delay: 0.6s;
}
.delay-2 {
animation-delay: 0.7s;
}
.delay-3{
animation-delay: 0.8s;
}
.delay-4 {
animation-delay: 0.9s;
}
.css, .javascript, .react{
    margin-top:20px;
}
@media screen and (prefers-reduced-motion: reduce) {
  .animate {
    animation: none !important;
  }
}
@media screen and (min-width:420px){
    .skills--images{
        margin-left:180px;
        /* width:200px;
        height:200px; */
    }
    .css, .javascript, .react{
        margin-top:50px;
    }

    
}
@media screen and (min-width:640px){
    .skills--images{
        margin-left:280px;
        
    }
     .css, .javascript, .react{
        margin-top:70px;
    }
    
}
@media screen and (min-width:768px){
    .skills--images{
        margin-left:320px;
        
    }
     .css, .javascript, .react{
        margin-top:70px;
    }
    
}
@media screen and (min-width:1024px){
    /* .skills--images{
        margin-left:280px;  
    } */
    .skills--images{
        display:flex;
        justify-content:flex-start;
        flex-wrap: nowrap;
        /* padding-right: 600px; */
        
        
    }
    /* .skills{
        margin-right:800px;
    } */
    .html{
        margin-top: 70px;
    }
     .css, .javascript, .react{
        margin-top:70px;
        margin-left:70px;
    }
    
   
    
}
@media screen and (min-width:1280px){
    .css, .javascript, .react{
        margin-left:100px;
    }
}