
  @import url('https://fonts.googleapis.com/css2?family=Borel&family=Dongle:wght@700&family=Gloock&family=Kanit&family=Open+Sans:wght@300&family=Poppins&family=Roboto:wght@300&family=Ubuntu&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=Borel&family=Dongle:wght@700&family=Gloock&family=Kanit&family=Open+Sans:wght@300&family=Poppins&family=REM&family=Roboto:wght@300&family=Ubuntu&display=swap');

.main--page h1{
    font-family: 'Borel', cursive;
}


.profile--image{
    width:200px;
    height:200px;
    

}
.profile h1{
    font-family: 'REM', sans-serif;
}
.profile p{
    font-family: 'REM', sans-serif;
}
.profile a{

    left:-30px;
    position:absolute;
    bottom:50px;
    font-family: 'REM', sans-serif;

}
.animate__animated.animate__bounce {
  --animate-duration: 2s;
}

@media screen and (min-width:420px){
    .profile--image{
        width:250px;
        height:250px;
        
    }
    .profile h1{
        margin-left: 50px;
    }
    .profile p{
        margin-left: 40px;
    }
    .profile a{
        top:650px;
    }
    
}
@media screen and (max-width:420px){
   .profile--image{
       width:250px;
        height:250px;
        position: relative;
        left:25px;
    }
    .profile h1{
        margin-left: 50px;
    }
    .profile p{
        margin-left: 50px;
        margin-right: 40px;
    }
    .profile a{
        margin-left: 140px;
        position: absolute;
        bottom:150px;
    }   
}
@media screen and (min-width:640px){
    .profile--image{
        position: relative;
        left: 120px;
        width:300px;
        height:300px;
    }
    .profile p {
        margin-left: 100px;
        margin-right: 80px;
    }
    .profile a{
        left:240px;
        top:700px;
    }
    .profile h1{
        margin-left:100px;
        /* margin-right:100px; */
    }

    
}
@media screen and (min-width:768px) {
    .main--page h1{
        text-align: start;
        margin-left:50px;
    }
    .social--icons{
        position: absolute;
        top:30px;
        right:200px;
    }
    .profile h1{
        font-size: 35px;
        position: absolute;
        top:150px;
        line-height: 1.5;
        white-space: pre-wrap;
        right:270px;
    }
    .profile p{
        font-size: 18px;
        font-weight: lighter;
        /* padding-right:300px; */
        position: absolute;
        top:300px;
        right:200px;
        text-align: justify;
        line-height: 1.5;
        left:-50px;
        /* white-space: wrap; */
        
    }
    .profile--image{
        left: 350px;
        top:30px;
       width:235px;
        height:235px;
        border-radius: none;
    }
    .profile a{
        left:50px;
        white-space: nowrap;
        top:500px;

    }
}
@media screen and (min-width:820px){
    .main--page h1{
        margin-left: 50px;
    }
    .profile--image{
        left: 450px;
        top:28px;
        max-width:300px;
        max-height:300px;
    }
    .profile p{
        left:-12px;
        position: absolute;
        top:400px;
        
    }
}
@media screen and (min-width:1024px){
    .main--page h1{
        margin-left:50px;
    }
    .social--icons{
        margin-left: 750px;
    }
    .profile--image{
        left: 550px;
    }
    .profile p{
        left :-10px;
        top: 350px;
        right:150px;
    }
    .profile a{
        top:580px;
    }
    
}
@media screen and (min-width:1280px) {
    .main--page h1{
        margin-left: 150px;
    }
    .social--icons{
        margin-left: 900px;
    }
    .profile h1{
        margin-right: 200px;
    }
    .profile--image{
        left: 720px;
    }
    .profile p{
        left: 90px;
    }
    .profile a{
        left:152px;
    }
    
    
}
@media screen and (min-width:1536px){
    .social--icons{
        margin-left:1200px;
    }
    .profile--image{
        left:900px;
    }
    .profile h1{
        font-size: 60px;
        margin-right:500px;
    }
    .profile p{
        font-size: 25px;
        margin-right: 50px;
    }
    .profile a{
        top: 600px;
    }
    
}
@media screen and (min-width:1700px){
    .profile--image{
        left:1050px;
    }
}